* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES
$fondo: #1e2222;
$fondoGris: #414E52;
$fondoGris2: #313333;
$fondoGris3: #2C3333;
$fondoGris4: #3F4B4B;
$fondoGris5: #444C4C;
$fondoGris6: #313D3d;
$azul: #31535c;
$celeste: #6A9696;
$celeste2: #8cbac4;
$letras: #E7F6F2;

// MIXIN
@mixin proovedores {
    width: 10rem;
    background-color: $fondoGris4;
    padding: .6rem;
    border: #4a8897 solid;
    border-radius: 1rem;
}

// IMPORTS

@import "index";
@import "guide";
@import "prods";
@import "servic";
@import "us";
@import "medias";

/* general */
body {
    font-family: 'Poppins', sans-serif;
    color: $letras;
    background-color: $fondo;

    main {
        padding-top: 5.6rem;
    }

    a {
        text-decoration: none;
        color: $letras;
    }
}

.nomargin {
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* HEADER */

header {
    background-color: $fondo;
    position: fixed;
    width: 100%;
    height: 5.6rem;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 1rem;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        div {
            a {
                font-size: 2.4rem;
                padding: .4rem;
                margin: 0;
                transition: .3s;

                &:hover {
                    transform: scale(1.06);
                    color: $celeste2;
                }
            }

            a {
                i {
                    color: $letras;
                    font-size: 2.4rem;
                    padding: .4rem;
                    transition: .3s;

                    &:hover {
                        color: $celeste2;
                        transform: scale(1.1);
                    }
                }
            }

            h1 {
                display: none;
            }
        }

        .nav_toggle {
            color: $letras;
            background: none;
            border: none;
            font-size: 2rem;
            display: none;
        }

        ul {
            display: flex;
            text-decoration: none;
            padding: .4rem;

            li {
                list-style: none;
                padding: .2rem;
                transition: .4s;

                &:hover {
                    transform: scale(1.2);
                }

                a {
                    padding: 1rem;
                    font-size: 1.2rem;
                    transition: .4s;

                    &:hover {
                        color: $celeste2;
                    }
                }
            }
        }
    }
}


/* FOOTER */
footer {
    background-color: $fondo;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .redes {
        padding: .4rem;

        h3 {
            font-size: 1.2rem;
            padding: 1rem;
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            padding: .4rem;

            li {
                padding: 1rem;
                list-style: none;

                a {
                    &:hover {
                        color: $celeste2;
                    }

                    i {
                        font-size: 1.6rem;
                        transition: .4s;

                        &:hover {
                            transform: scale(1.4);
                        }
                    }
                }
            }
        }
    }

    .feed {
        text-align: center;
        padding: .4rem;

        h6 a {
            transition: .3s;

            &:hover {
                color: $celeste2;
            }
        }
    }

    .copy {
        padding: .4rem;
    }
}


/* BOOTSTRAP */
.celeste {
    color: #E7F6F2;
}

.bcg {
    background-color: #31535c;
}

.bcg2 {
    background-color: #2C3333;
}

.row {
    padding: 1rem;
}

.accordion-button:not(.collapsed) {
    color: #E7F6F2;
    background-color: #343b3b;
}

.nomarginbt {
    margin: 0;
    padding: 0;
}